{% extends 'app/base.html' %}
{% load static %}
{% block main-content %}
<div class="container instructions">
    <h1>Instructions</h1>
    <br>
    <ul>
        <li>Register With Us.</li>
        <!-- <li>Start Reporting.</li> -->
        <li>Enter lost or found item details (e.g., item lost or found, category, photos, date, time, etc).</li>
        <li>Review details entered and submit the lost or found item report.</li>
        <li>Receive notifications when newly submitted items match the details on your entry.</li>
    </ul>

</div>
<div class="max-width-1 m-auto">
    <div class="text-success">
        <hr>
    </div>
</div>
{% endblock main-content %}