{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block main-content %}
<div class="container text-center my-5">
  <div class="row justify-content-md-center">
    <div class="col-sm-4 card mt-3 mb-5 p-3 shadow-lg">
      <h2 class="my-3">Well Done</h2>
      <div class="text-success">
        <hr>
      </div>
      <p>
        A Email has been sent with instruction to reset your Password.
      </p>
      <p>
        <b>Check Your Email</b>
      </p>
      <div class="text-success">
        <hr>
      </div>
      <p>
    </div>
  </div>
</div>
{% endblock main-content %}

<!-- 
<div class="container text-center my-5">
  <div class="row justify-content-md-center">
    <div class="col-sm-4 card mt-3 mb-5 p-3 shadow-lg">
      <h2 class="my-3">Reset Password</h2>
      <div class="text-success">
        <hr>
      </div>
      <p>Enter your email and we'll send you a link to get back into your account.</p>

      <div class="text-success">
        <hr>
      </div>
      <p>
        <a href="{% url 'signup' %}" class="text-decoration-none text-dark">Back to Login</a>
      </p>
    </div>
  </div>
</div> -->