{% extends 'app/base.html' %}
{% load static %}
{% block title %}Search Results{% endblock title %}
{% block main-content %}

<div class="container my-5">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#posts">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#users">Users</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="posts" class="tab-pane active">
            {% if posts|length < 1 %}
                <p><b>No Search Results.</b></p>
                <p>Your search query - <b>{{query}}</b> - did not match any post. <br>
                Suggestions:
                <ul>
                    <li>Make sure all the words are spelled correctly.</li>
                    <li>Try different keywords.</li>
                    <li>Try more general keywords.</li>
                    <li>Try Fewer keywords.</li>
                </ul>
                </p>
            {% endif %}
            <div class="row">
                {% for post in posts %}
                    <div class="col-sm-4 text-center mb-4">
                        <a href="{% url 'details' post.id %}" class="btn">
                            <div class="item">
                                <img src="{{post.product_image.url}}" alt="image" height="250" />
                                <div>{{post.product_image}}</div>
                                <div class="fw-bold">{{post.title}}</div>
                                <div class="fw-bold">{{post.location}}</div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="users" class="tab-pane">
            {% if users|length < 1 %}
                <p><b>No Search Results.</b></p>
                <p>Your search query - <b>{{query}}</b> - did not match any user. <br>
                Suggestions:
                <ul>
                    <li>Make sure all the words are spelled correctly.</li>
                    <li>Try different keywords.</li>
                    <li>Try more general keywords.</li>
                    <li>Try Fewer keywords.</li>
                </ul>
                </p>
            {% endif %}
            <div class="row">
                {% for user in users %}
                <div class="col-sm-4 text-center mb-4">
                    <a href="{% url 'user_detail' user.username %}" class="btn">
                        <div class="item">
                            <div class="fw-bold">{{user.username}}</div>
                            <img src="{{ user.profile.profile_pic.url }}" alt="image" height="250" class="">
                            <div class="fw-bold">{{user.first_name}} {{user.last_name}}</div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}